html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
}
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  display: block;
  margin: 30px;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a:hover::before {
  width: 100%;
}

.splash {
    min-height: 500px;
    display: flex;
    position: relative;
}
.splash-inner {
    position: ;
    margin: auto;
    max-width: 70%;
}
.page-title {
    margin: 0;
    font-size: 52px;
    word-spacing: 15px;
    font-weight: 700;
    line-height: 1.2;
}
.page-subitle {
    margin: 24px 0;
    font-weight: 300;
    font-size: 13px;
}
